[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:sethlu/glfw.git
	branch = renderbox
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:sethlu/glm.git
	branch = renderbox
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = git@github.com:sethlu/SDL.git
	branch = renderbox
